body {
    background-color: #f0f8ff; /* AliceBlue for a softer background color */
    font-family: Arial, sans-serif;
    color: #333; /* Darker color for better readability */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: #1e90ff; /* DodgerBlue */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    width: fit-content;
}

form {
    background-color: #ffffff; /* White background for the form */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

label, select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1rem;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffeb3b; /* Yellow */
    font-size: 1rem;
}

.hidden {
    display: none;
}

#area, #Property select {
    background-color: #ffeb3b; /* Yellow */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Property {
    margin-top: 20px;
}
